.btn-coral {
    color: #fff;
    background-color: lightcoral;
    border-color: lightcoral;
}

.btn-outline-coral {
    color: lightcoral;
    background-color: transparent;
    border-color: lightcoral;
}